<div id="auth">
    <h1>Authorizing</h1>

    <div class="hidden">
        <input type="hidden" class="form-control" name="scope" id="scope" value="{{scope}}">
        <input type="hidden" class="form-control" name="clientId" id="clientId" value="{{clientId}}">
        <input type="hidden" class="form-control" name="externalToken" id="externalToken" value="{{externalToken}}">
        <input type="hidden" class="form-control" name="returnUrl" id="returnUrl" value="{{returnUrl}}">
        <input type="hidden" class="form-control" name="sessionId" id="sessionId" value="{{sessionId}}">
        <input type="hidden" class="form-control" name="providerId" id="providerId" value="{{providerId}}">
        <input type="hidden" class="form-control" name="webResourceId" id="webResourceId" value="{{webResourceId}}">
    </div>

    <div class="auth">


        <div id="timer" style="display: none"></div>
        <div class="message__holder" style="display: none">
            <div id="message"></div>
        </div>

        <div id="init-user" style="display: none;">
            <div class="row">
                <h4 class="col-sm-12">with Username/Email</h4>
                <form id="sign-in-form" method="post">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" name="email" id="email">
                            <button type="button" class="btn btn-primary col-sm-12" id="sign-in-btn">Sign in</button>
                        </div>
                    </div>

                </form>
            </div>
            <h4>or use BiomioID</h4>
            <div id="qrcode">
            </div>
            <button type="button" class="btn btn-primary col-sm-3" id="cert-btn">Certificate</button>

        </div>


        <div class="footer">
            <img class="footer__logo" src="footer-logo.png" alt="biomio logo" title=""/>

            <p class="footer__text">Multi-Factor, Password-Optional Authentication Anywhere, Everywhere</p>
        </div>
    </div>


</div>

<script src="/socket.io/socket.io.js"></script>

<!-- face -->
<script type="text/javascript" src="js/jsfeat/jsfeat-min.js"></script>
<script type="text/javascript" src="js/jsfeat/frontalface.js"></script>
<script type="text/javascript" src="js/jsfeat/compatibility.js"></script>
<script type="text/javascript" src="js/jsfeat/profiler.js"></script>
<script type="text/javascript" src="js/jsfeat/dat.gui.min.js"></script>

<!-- custom -->
<script src="/js/form.js"></script>
<script src="/js/face.js"></script>
<script src="/js/jquery.qrcode.js"></script>
<script src="/js/qrcode.js"></script>

<script>
    $(function () {
        var Application = (function() {
            var user = {};
            var socket = io();
            var redirectBackTimeout = 1;
            var $messageHolder = $('.message__holder');
            var $message = $('#message');
            var $timerHolder = $('#timer');
            var $email = $('#email');
            var $qrCode = $('#qrcode');
            var $initUser = $('#init-user');
            var $signInBtn = $('#sign-in-btn');
            var $signInForm = $('#sign-in-form');
            var $certBtn = $('#cert-btn');

            var timerInstance = null;


            var showTimer = function() {
              $initUser.hide();
              $timerHolder.show();
              $messageHolder.show();
            };

            var showInitUserWindow = function() {
                $timerHolder.hide();
                $messageHolder.hide();
                $initUser.show();
            };

            var showMessageHolderOnly = function() {
                $timerHolder.hide();
                $initUser.hide();
                $messageHolder.show();
            };



            var setTimer = function (duration) {
                showTimer();

                var start = Date.now();
                var diff;
                var minutes;
                var seconds;

                function timer() {
                    diff = duration - (((Date.now() - start) / 1000) | 0);

                    minutes = (diff / 60) | 0;
                    seconds = (diff % 60) | 0;

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    $timerHolder.text(minutes + ":" + seconds);

                    if (diff <= 0) {
                        start = Date.now() + 1000;
                        stopTimer();
                        showMessage('Time is out! Need more time? <a href="#" id="try_again" class="btn btn-default btn-sm"> Try again</a>');
                        $('#try_again').on('click', tryAgain);
                    }
                }

                timer();
                timerInstance = setInterval(timer, 1000);
            };

            var stopTimer = function () {
                clearInterval(timerInstance);
                timerInstance = null;
                $timerHolder.text('00:00');
            };


            var showMessage = function (message) {
                var html = '<p class="msg">' + message + '</p>';
                $message.html(html);
            };

            var clearMessage = function () {
                $message.html('');
            };

            var tryAgain = function() {
                socket.emit('run_auth', user);
                clearMessage();
                stopTimer();
            };

            var redirect = function() {
                setTimeout(function() {
                    document.location.replace(user.returnUrl);
                }, redirectBackTimeout);
            };

            var signIn = function(e) {
                user.externalToken = $email.val();
                socket.emit('run_auth', user);
                e.preventDefault();
            };

            var tryAnother = function() {
                user.externalToken = '';
                $email.val('');
                showInitUserWindow();
            };

            var init = function(options) {
                console.log('Init: ', options);
                user = options;

                socket.emit('hello', user.sessionId);



                $qrCode.qrcode({
                    text: '{{qrUrl}}',
                    width: 150,
                    height: 150
                });

                $signInBtn.on('click', signIn);
                $signInForm.on('submit', signIn);
                $certBtn.on('click', function() {
                    $.ajax({
                        type: 'POST',
                        url: 'https://idp-dev.biom.io:460/',
                        data: {
                            sessionId: user.sessionId
                        },
                        dataType: 'json',
                        success: function(data) {
                            console.log(data);
                        },
                        crossDomain: true,
                        xhrFields: {
                            withCredentials: true
                        }
                    });
                });

                socketInit();
            };

            var socketInit = function() {
                socket.on('inprogress', function (data) {
                    console.info('socket inprogress', data);
                    data.msg = "Open Biomio application on your phone to proceed";
                    if (data.timeout) {
                        showTimer();
                        if (!timerInstance) {
                            setTimer(data.timeout);
                        }
                    } else {
                        stopTimer();
                    }
                    showMessage(data.msg);
                });

                socket.on('server_hello', function() {
                    if (user.externalToken) {
                        socket.emit('run_auth', user);
                        showTimer();
                    } else {
                        showInitUserWindow();
                    }
                });

                socket.on('not_exists', function() {
                    console.info('socket not_exists');
                    showMessageHolderOnly();
                    showMessage('You are not registered <a href="#" id="try_another" class="btn btn-default btn-sm"> Try another email</a>');
                    $('#try_another').on('click', tryAnother);
                });


                socket.on('complete', function(data) {
                    data.msg = "Authentication was successful";
                    console.info('socket complete', data);
                    stopTimer();
                    showMessage(data.msg);
                    redirect();
                });

                socket.on('run_auth', function(data) {
                    console.info('socket run_auth', data);
                    user.externalToken = data.user;
                    socket.emit('run_auth', user);
                });

                socket.on('fail', function(data) {
                    console.info('socket fail', data);
                    stopTimer();
                    data.error += ' <a href="#" id="try_again" class="btn btn-default btn-sm"> Try again</a>';
                    showMessage(data.error);
                    $('#try_again').on('click', tryAgain);
                });
            };

            return {
                init: init
            }

        })();

        Application.init({
            externalToken: $('#externalToken').val(),
            clientId: $('#clientId').val(),
            returnUrl: $('#returnUrl').val(),
            scope: $('#scope').val(),
            sessionId: $('#sessionId').val(),
            webResourceId: $('#webResourceId').val(),
            providerId: $('#providerId').val(),
        });
    });

</script>
